---
import ImageCarousel from "../../components/ImageCarousel.astro";
import BaseLayout from  "../../layouts/BasePage.astro";
import { OutsideLink } from "../../components/commonComponents";

const title = "Little Women";
const description = "2024 production of Little Women at the Meisner Studio";

const altText = "< A photograph from Meisner's 2024 production of Little Women >";

// import all images from the show folder to pass
const images = import.meta.glob<{ default: ImageMetadata, eager: true}>('/src/images/little_women_show_photos/*.{jpeg,jpg,png,gif}');
const imagesInfo = Object.keys(images).map(imagePath => { return {imagePath, altText}})


---

<BaseLayout content={{title: title,  description: description}} >

    <h2>Little Women</h2>
    <div class="centered">Meisner Studio at Tisch, 2024 </div>
            
    <ul> 
        <li> by Kate Hamill</li>
        <li> Directed by Meghan Mulcahy </li>
        <li> Lighting Design by Alexandra Palocz </li>
        <li> Set/Costume Design by Meghan Mulcahy </li>
        <li> Sound Design by <OutsideLink link="https://www.linkedin.com/in/kaseyaudio"> Kasey Price </OutsideLink> </li>
        <li> Photography by <OutsideLink link="https://www.jcpimages.com/" > Justin Chauncy </OutsideLink></li>
    </ul>

     <ImageCarousel images={images} imagesInfo={imagesInfo} />

    </>

</BaseLayout>

