/********* Specific rules for laying out the index page *********/

/* project icon layout */
.light-menu {
    flex-wrap: wrap;
}

.light-menu figure{
    flex: 200px;
    margin: 2px;
}

.light-menu img{
    max-height: 10rem;
    background-color: inerit;
}

figcaption {
    text-align: center
}

/*Create padding for links to incorporate background images*/
.light-menu a:link {
    display: block;
    padding: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.light-menu a:visited {
}

.light-menu a:hover {
    opacity: 0.6;
}

/*Specify the background icon images for the links*/
.eurydice-link {
    background-image: url(images/eurydice-in.jpg);
}
.legally-link {
    background-image: url(images/legally-in.jpg);
}
.stopkiss-link {
    background-image: url(images/stopkiss-in.jpg);
}
