/********* Specific rules for laying out the index page *********/

.projects {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* project icon layout */
.projects figure{
  flex: 100px;
}

.projects img{
  max-height: 10rem;
  background-color: inerit;
}

figcaption {
  text-align: center;
}

/*Create padding for links to incorporate background images*/
.projects a:link {
  display: block;
  width: 300px;
  height: 200px;
  padding: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.projects a:hover {
  opacity: 0.7;
}

.featured-link {
  max-width: 300px;
}

/*Specify the background icon images for the links*/
.echoes-link {
  background-image: url(../../images/eig_show_photos/eig-1.jpg);
}
.inkbleed-link {
  background-image: url(../../images/inkbleed-1.png);
}
.fireline-link {
  background-image: url(../../images/fireline-title.jpg);
}
