/********* Specific rules for laying out the index page *********/

.projects {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* project icon layout */
.projects figure{
  flex: 100px;
}

.projects img{
  max-height: 10rem;
  background-color: inerit;
}

figcaption {
  margin-top: 15px;
  text-align: center;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
}

/*Create padding for links to incorporate background images*/
.projects a:link {
  display: block;
  width: 300px;
  height: 200px;
  padding: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.projects a:hover {
  opacity: 0.7;
}

.featured-link {
  max-width: 300px;
}
