/********* Specific rules for laying out the lighting design index page *********/
:root {
    --lighting-icon-width: 300px;
}


/* project icon layout */
.light-menu {
    flex-wrap: wrap;
}

.light-menu figure{
    flex: 200px;
    margin: 2px 2px 30px 2px;
    max-width: var(--lighting-icon-width);
}

figcaption {
    text-align: center
}

/*Create padding for links to incorporate background images*/
.light-menu a:link {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: var(--lighting-icon-width);
    height: calc(var(--lighting-icon-width) * 2/3)
}

.light-menu a:hover {
    opacity: 0.6;
}

/*Specify the background icon images for the links*/
.eurydice-link {
    background-image: url(../../images/eurydice_show_photos/eurydice-in.jpg);
}
.legally-link {
    background-image: url(../../images/legally_blonde_show_photos/legally-in-small.jpg);
}
.stopkiss-link {
    background-image: url(../../images/stop_kiss_show_photos/stopkiss-in-small.jpg);
}
