---

import { NavElement } from './NavElement.jsx'
import {Image} from '@astrojs/image/components'

import header_img from "../images/nav_icons/AP-header.png"

import gd_icon from "../images/nav_icons/gd-icon.png"
import cs_icon from "../images/nav_icons/cs-icon.png"
import writing_icon from "../images/nav_icons/writing-icon.png"
import animation_icon from "../images/nav_icons/animation-icon.png"
import other_icon from "../images/nav_icons/other-icon.png"

import './pageFrameComponents.css';

const navInfoList = [
  {icon: gd_icon, name: "Graphic Design", link: "/graphic_design"},
  {icon: cs_icon, name: "Computer Science", link: "/computer_science"},
  {icon: writing_icon, name: "Writing", link: "/writing"},
  {icon: animation_icon, name: "Animation", link: "/animation"},
  {icon: other_icon, name: "Other Projects", link: "/other_projects"}
]
---


<header> 
    <a href="/"  class="home_link">
        <Image src={header_img} alt="" width=60 height=60/>
        <div class="site_title">Alexandra Palocz</div>
    </a>
    <div class="sidebar">
    {navInfoList.map(navInfo => (<NavElement key={navInfo.name} navInfo={navInfo} client:visible/>))}
    </div>
</header>

  

