:root {
    --icon-size: 200px;

    --min-description-size: 400px;
    
    --side-padding: 30px;
    --circle-overlap: 100px;
    --lighter-color: #E0DAB9; 
    --border-style: 1px solid #AB9B82
}

.side-description-link {
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 100%;
    border: var(--border-style);
    z-index: 1;
    position: relative;
    background-color: var(--lighter-color);
    background-clip: padding-box;

    position: absolute;
}

.side-description-image{
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 100%;
    object-fit: cover;
    max-width: none;
}

.side-description-image:hover {
    opacity: 0.8;
}

.right-side-link {
    float: right
}

.side-description {
    width: max(calc(100% - 2*var(--icon-size) - 2*var(--side-padding)), var(--min-description-size));
    padding: 30px;
    z-index: 0;

    background-color: var(--lighter-color);
    /* border-radius: 200px; */
}

.left-side-description {
    text-align: right;
    padding-right: calc(var(--side-padding) + var(--circle-overlap));
    padding-left: calc(2 * var(--side-padding));
    transform: translateX(calc(var(--circle-overlap) - var(--icon-size)));
    border-radius: 200% 100% 100% 300px;
    
     

}

.right-side-description {
    padding-left: calc(var(--side-padding) + var(--circle-overlap));
    padding-right: calc(2 * var(--side-padding));
    transform: translateX(calc(var(--icon-size) - var(--circle-overlap)));
    border-radius: 100% 200% 300px 100%;


}

.side-description h3 {
    margin: 0px 0px 10px 0px;
}

.side-description-container {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 0;
}

.right-description-container{
    justify-content: right;
    flex-direction: row-reverse;
}

.left-description-container{
    justify-content: left;
}


/* Mobile styling changes */
@media (max-width: 870px) {
	.side-description-container {
        flex-direction: column;
    }
    .side-description {
        width: 100%;
        text-align: center;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        padding-top: calc(var(--side-padding) / 2 + var(--circle-overlap));
        padding-bottom: 40px;

        transform: translateY(0px);

        margin-bottom: 20px;
        margin-top: calc(var(--icon-size) - var(--circle-overlap));

        box-sizing: border-box;

    }

    .side-description-link {
        top: 0px;
    }

    .right-side-description {
        border-radius: 110% 90% 200px 60%;

    }
    .left-side-description {
        border-radius: 90% 110% 60% 200px;

    }

  }

  /* An extra one for when the top is centered */

  @media (max-width: 740px) {
    .right-side-description {
        border-radius: 150px 10% 100px 40px;

    }
    .left-side-description {
        border-radius: 10% 150px 40px 100px;

    }

  }

  @media (max-width: 200px) {

    .side-description-image{
        height: auto;
        width: 100vw;
    }
    .side-description-link{
        height: auto;
        width: 100vw;
    }

  }

  @media (min-width: 1440px) {

    .side-description {
        width: calc(50% - var(--icon-size) - 2*var(--side-padding) - 20px);
    }

    .side-description-container {
        margin-bottom: -120px;
        min-height: var(--icon-size);
    }
    .side-description-container:last-child {
        margin-bottom: 40px;
    }

    .side-description-link {
        position: auto;
    }

    /* .left-side-description {
         border-radius: 300px 70% 100% 100%
    } */

  }