---
import BaseHead from '../../components/BaseHead.astro';
import EchoesPage from '../../components/pages/echoes_in_glass/EchoesPage.jsx';
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro';

const title = "Echoes in Glass";
const description = `Echoes in Glass is an interactive cycle of original stories, poems, and songs, 
                centered on themes of connection, love, and loss. Bringing together the realms of theater, oral storytelling, and interactive 
                experience, it invites audiences to enter a world of monsters, myths, and memories.`;

---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<EchoesPage/>
		</main>
		<Footer />
	</body>
</html>

