/********* Specific rules for laying out the scissors congruence page *********/

/*Make the canvs boxes be side by side*/
.interaction_area {
    overflow: hidden;
}

.canvas_box {
    float: left;
}


/* Define canvases and button styles */
.scissors-canvas {
    border: .2rem solid black;
}

.scissors-canvas:hover {
    cursor: crosshair
}

.scissors-button {
    background: rgba(0, 0, 0, 0.1);
    font-family: Lusitana, Cochin, Cambria, Georgia, Times, Times New Roman, serif;
    font-size: 1rem;
    border: none;
    margin: .2rem;
    padding: .1rem .5rem;
}

.scissors-button:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
